<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web_back.mapper.ChatBeanMapper">
    <select id="saveOfflineMsg" parameterType="com.example.web_back.entity.po.ChatBean">
        INSERT INTO user_chat (receiver, receiverName, sender, senderName, message, sendTime, owner, type)
        VALUES (#{receiver}, #{receiverName}, #{sender}, #{senderName}, #{message}, #{sendTime}, #{owner},
                #{type});
    </select>

    <select id="get20OfflineMsg" resultType="com.example.web_back.entity.po.ChatBean">
        <!--           多端消息 -->
        <!--           OR sender = #{key} -->
        SELECT uc.sender, uc.senderName, uc.receiverName, uc.receiver, uc.sendTime, uc.type, uc.owner, uc.message
        FROM (
        SELECT sender, senderName, receiverName, receiver, sendTime, type, owner, message,
        ROW_NUMBER() OVER (PARTITION BY sender ORDER BY sendTime DESC) AS n
        FROM user_chat
        WHERE receiver = #{key}
        ) AS uc WHERE uc.n &gt; 21 ;
        <!--        AND uc.sendTime &gt; #{date}-->
    </select>

    <delete id="deleteOfflineMsg">
        DELETE
        FROM user_chat
        WHERE receiver = #{key}
    </delete>

    <select id="get2DayOfflineMsg" resultType="com.example.web_back.entity.po.ChatBean">
        SELECT sender,
        senderName,
        receiverName,
        receiver,
        sendTime,
        type,
        owner,
        message
        FROM user_chat
        WHERE receiver = #{key}
        AND sendTime &gt; #{date}
        <!--           大于 -->
        <!--           多端消息 -->
        <!--           OR sender = #{key} -->
    </select>

    <select id="getOfflineWithSb" resultType="com.example.web_back.entity.po.ChatBean">
        SELECT sender,
        senderName,
        receiverName,
        receiver,
        sendTime,
        type,
        owner,
        message
        FROM user_chat
        WHERE receiver = #{key}
        AND sender = #{sender}
        <if test="date != null">
            AND sendTime &gt; #{date}
        </if>
    </select>
</mapper>
